<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Fires in Australia</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
        <link rel="stylesheet" href="static/css/style.css">
      </head>
    
      <body>
        <div class="wrapper">
          <nav class="navbar navbar-default">
            <div class="container-fluid">
              <div class="navbar-header">
                <a class="navbar-brand" href="index.html">Australian Fires
                </a>
              </div>
            </div>
          </nav>
          <div class="hero text-center">
            <h1>Fires in Australia</h1>
            <p>August 2019 - September 2019</p>
          </div>
          <div class="container">
            <div class="row margin-top-50">
              <div class="row">
              <div class="col-md-2">
                <!-- <aside class="filters"> -->
                  <div class="panel panel-default">
                    <div class="panel-heading">Data Source Details</div>
                    <div class="panel-body">
                      The chart to the right visualizes the fire radiative power of Australian
                      fires from the time period of August 2019 - September 2019. 
                      The data was captured by the NASA satelite Modis C6.
                      <!-- UNCOMMENT FOR FILTER -->
                      <!-- <form>
                        <div class="form-group">
                          <ul class="list-group" id="filters">
                            <li class="filter list-group-item">
                              <label for="date">Enter a Date</label>
                              <input class="form-control" id="datetime" type="text" placeholder="1/11/2011">
                            </li>
                          </ul>
                        </div>
                        <button id="filter-btn" type="button" class="btn btn-default">Filter Table</button>
                      </form> -->
                    </div>
                  </div>
                </aside>
              </div>
              <div class="col-md-10">
                <div id="hc_heatmap" style="height: 400px"></div>
                <figure class="highcharts-figure">
                <!-- <div id="hc_heatmap"></div> -->
                <p class="highcharts-description">
                 
              </div>
            </div>
            <div>
            <div class="row"></div>
            <div class="col-md-10">
                <div class="panel panel-default">
                  <div class="panel-heading">What is Fire Radiative Power?</div>
                  <div class="panel-body">
                    ADD DESCRIPTION
                  </div>
                </div>
              </aside>
            </div>
          </div>
        </div>
        

        <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js"></script>
        <script src="https://code.highcharts.com/highcharts.src.js"></script>
        <script src="https://code.highcharts.com/modules/heatmap.js"></script>
        <script src="https://code.highcharts.com/modules/exporting.js"></script>
        <script src="https://code.highcharts.com/modules/export-data.js"></script>
        <script src="https://code.highcharts.com/modules/accessibility.js"></script>
        <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
        <!-- <script src="app.js"></script> -->
        <script src="/static/js/app_hm.js"></script>
    
    </body>

    </html>